/* jeff-mitchell.dev styles */

/* css variables */
:root {
  --main-bg-color: hsl(0, 0%, 0%);
  --header-bg-color: lightgrey;
  --main-text-color: hsl(0, 100%, 100%);
  --main-header-color: hsl(24, 100%, 41%);
  --link-text-color: hsl(334, 92%, 56%);
}

/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--main-bg-color);
}

body {
  color: var(--main-text-color);
  line-height: 1.5;
  font-family: "Jetbrains Mono", monospace;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}

/* content container */
.container {
  max-width: 1080px;
  margin: auto auto;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
  opacity: 0.8;
}

/* header styles */
header {
  padding: 20px;
}

header h1,
h2,
h3 {
  font-weight: bold;
  padding: 10px;
}

/* nav bar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: var(--link-text-color);
  text-decoration: none;
  font-size: 1.25em;
}

.nav-links li a:hover {
  font-weight: bold;
}

/* content styles */
.content h2,
h3 {
  color: var(--main-header-color);
  font-weight: bold;
}

.content p {
  padding: 10px;
}

.content a {
  color: var(--link-text-color);
  text-decoration: none;
}

.content a:hover {
  font-weight: bold;
}

/* footer styles */
footer {
  margin-top: auto;
  text-align: center;
  color: var(--main-text-color);
}

.footer-links a {
  color: var(--link-text-color);
  text-decoration: none;
}

.footer-links a:hover {
  font-weight: bold;
}

/* media query for screen sizes below 768px */
@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    font-size: 0.75em;
  }

  footer p {
    font-size: 0.75em;
  }
}
